<% @errors = @errors || ServerSettings.return_errors($!,$@,ServerSettings::DEBUG_MESSAGES) %>
<div class='w3-container w3-margin'>
	<h1 class="w3-center">Error occured</h1>
	<span class="w3-center"><%= @errors %></span>
</div>
